<header>
<style>

body{
margin:0;
text-align: center;

}
.header {
	background: teal;
	padding: 15px;
	color: white;
	margin-bottom: 50px;
}

input{
margin: 15px auto;
    box-sizing: border-box;
    border-radius: 5px;
}

</style>
</header>
<div class="header">
	<h1><a href="/" style="text-decoration: none; color: white;">BOOT CAMP</a></h1>
</div>
<div>
<form method="post" action="/savebootcamp">
TPOIC: <input type="text" name="topic"></br>
DATE:  <input type="date" name="date"></br>
<input type="submit">
</form>
</div>